lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.jshintrc
Gruntfile.js
Procfile

## yes i know it should be here, but it fucks up my deploy to nodejitsu
stage/cleanFile.txt
stage/*.txt
stage/*.rss*

dontcommitmebro
pids
logs
results

node_modules
npm-debug.log
