<!DOCTYPE html>
<html>
<head>
  <title>Poison Pentametron</title>
  <% include head %>
  <!-- fresh: <%= other.fresh %> -->
</head>
<body>
<pre class="mono">
    -=-=-=-=-=-=-=-=-=-=-=-=-=-=-
    poison pentametron
    mashed up by @booyaa
    curated by @pentametron
    words by @you
    -=-=-=-=-=-=-=-=-=-=-=-=-=-=-
</pre>

<% include poetry-banner %>

<pre class="mono">
    -=-=-=-=-=-=-=-=-=-=-=-=-=-=-
<% include poetry-plain %>
    -=-=-=-=-=-=-=-=-=-=-=-=-=-=-
</pre>
<% include foot %>
</body>
</html>
