<!DOCTYPE html>
<html>
<head>
  <title>Poison Pentametron</title>
  <% include head %>
  <!-- fresh: <%= other.fresh %> -->
</head>
<body>

<% include header %>

<div class="bannerdiv">
  <div class="banner">
<% include poetry-banner %>
  </div>
</div> <!-- bannerdiv -->

<br />

<pre class="mono">
<% include poetry-plain %>
</pre>
<% include foot %>
</body>
</html>
