<!DOCTYPE html>
<html>
<head>
  <title>Poison Pentametron</title>
  <% include head %>
  <!-- fresh: <%= other.fresh %> -->
</head>
<body>
<img src="<%= absUrl('/images/logo.jpg')%>" alt="logo"/>

<div class="mono">
<p class="center">
mashed up by @booyaa<br />
curated by @pentametron<br />
words by @you
</p>
</div>

<div class="bannerdiv">
  <div class="banner">
<% include poetry-banner %>
  </div>
</div> <!-- bannerdiv -->

<br />

<pre class="mono">
<% include poetry-plain %>
</pre>
<% include foot %>
</body>
</html>
