<!DOCTYPE html>
<html>
<head>
  <title>Poison Pentametron</title>
  <% include head %>
  <!-- fresh: <%= other.fresh %> -->
</head>
<body>
<img src="<%= absUrl('/images/logo.jpg')%>" alt="logo"/>
<pre class="mono">
    -=-=-=-=-=-=-=-=-=-=-=-=-=-=-
    poison pentametron
    mashed up by @booyaa
    curated by @pentametron
    words by @you
    -=-=-=-=-=-=-=-=-=-=-=-=-=-=-
</pre>

<div class="bannerdiv">
  <div class="banner">
<% include poetry-banner %>
  </div>
</div> <!-- bannerdiv -->
<pre class="mono">
    -=-=-=-=-=-=-=-=-=-=-=-=-=-=-
<% include poetry-plain %>
    -=-=-=-=-=-=-=-=-=-=-=-=-=-=-
</pre>
<% include foot %>
</body>
</html>
